
body, html {
    margin: 0;
    font-family: 'Roboto', sans-serif;
}


.layout-header {
    background-color: rgb(103, 182, 231); 
    color: white;
    position: fixed;
    top: 0;
    width: 100%;
    height: 80px;
    display: flex;
    align-items: center;
    padding: 0 16px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    z-index: 2;
  
}

.header-row {
    display: flex;
    align-items: center;
    width: 95%;
    
}


.layout-title {
    font-size: 24px;
    padding: 15px;
    color: white;
}
.header-right {
    display: flex;
    align-items: center;
    gap: 15px;
    margin-left: auto;
}


.username-text {
    font-size: 24px;
   
}

.icon-user {
    height: 35px;

}

.textfield-expandable-floating-label {
    display: flex;
    align-items: center;
}

.textfield-expandable-holder {
    display: none; 
}

.textfield-input {
    background: transparent;
    border: none;
    border-bottom: 1px solid white;
    color: white;
    padding: 8px;
    outline: none;
}

.button-icon-menu {
    color: white;
    cursor: pointer;
}


.layout-drawer {
    position: fixed;
    top: 80px; 
    left: 0;
    width: 250px;
    height: 100%;
    background: white;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.2);
    transform: translateX(-250px); 
    transition: transform 0.3s ease;
    z-index: 1;
}



.navigation {
    display: flex;
    flex-direction: column;
}

.navigation-link {
    padding: 16px;
    color: #666;
    text-decoration: none;
    font-size: 16px;
    transition: background 0.3s, color 0.3s;
}

.navigation-link:hover {
    background: #E0E0E0;
    color: #000;
}

hr.navigation-divider {
    border: 0;
    border-top: 1px solid #b4b2b2; 
    margin: 10px 0; 
}




.layout-content {
    margin-top: 64px; /* Below the header */
    padding: 16px;
}


.Page-content {
    padding: 16px;
    background: #FFF;
    min-height: calc(100vh - 64px);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}


.drawer-open .layout-drawer {
    transform: translateX(0);
}








.Page-content .tätigkeiten{
    padding: 16px;
    background: #FFF;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    color: rgb(37, 87, 117);
}

.Page-content .bewertungen{
    padding: 16px;
    background: #FFF;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    color: rgb(37, 87, 117);
}

.tätigkeiten-link {
    color: rgb(37, 87, 117);
    text-decoration: none;
    font-weight: bold;
}

.deadline {
    color: rgb(117, 37, 37);
    font-weight: bold;
}

.lehrer {
    color: rgb(37, 87, 117);
    font-weight: bold;
}

.dokumentation {
    padding: 16px;
    background: #FFF;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    color: rgb(37, 87, 117);
    font-weight: bold;
}

.beschreibung {
    padding: 16px;
    background: #FFF;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    color: rgb(37, 87, 117);
    text-align: justify;
}

input[type="submit"] {
    margin-top: 10px; 
    background-color: rgb(58, 123, 170); 
    color: white; 
    padding: 15px 20px; 
    border: none; 
    border-radius: 5px;
    cursor: pointer; /* Изменяем курсор на указатель */
    font-size: 16px; /* Размер текста */
  }
  
  input[type="submit"]:hover {
    background-color: rgb(58, 123, 170); /* Более темный зеленый при наведении */
  }

.drawer-open .layout-drawer {
    transform: translateX(0);
}

#dokumentation-textarea{
    width: 100%;
    resize: vertical;
}

